In [1]:
def encoder(s):
    srt = ''
    for i in s:
        srt += bin(ord(i))
    return srt

def decoder(s):
    srt = ''
    s = s.split('0b')
    for i in s:
        try:
            srt += chr(int(i, 2))
        except:
            continue
    print(srt)

# Level 1

### k번째수
https://programmers.co.kr/learn/courses/30/lessons/42748

In [3]:
def solution(array, commands):
    answer = []
    for cmd in commands:
        cut_arr = array[cmd[0]-1:cmd[1]]
        cut_arr.sort()
        answer.append(cut_arr[cmd[2]-1])
    return answer

In [4]:
solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]

### 완주하지 못한 선수
https://programmers.co.kr/learn/courses/30/lessons/42576

In [5]:
def solution(participant, completion):
    participant.sort()
    completion.sort()
    for i in range(len(completion)):
        if participant[i] != completion[i]:
            return participant[i]
    return participant[-1]

In [6]:
participant = ['leo', 'kiki', 'eden', 'leo']
completion = ['eden', 'kiki', 'leo']
solution(participant, completion)

'leo'

In [7]:
import collections

collections.Counter(participant) - collections.Counter(completion)

Counter({'leo': 1})

### 모의고사
https://programmers.co.kr/learn/courses/30/lessons/42840

In [8]:
import math as m
import numpy as np

def solution(answers):
    
    l = len(answers)

    a = [1, 2, 3, 4, 5]
    b = [2, 1, 2, 3, 2, 4, 2, 5]
    c = [3, 3, 1, 1, 2, 2, 4, 4, 5, 5]

    a *= m.ceil(l/5)
    b *= m.ceil(l/8)
    c *= m.ceil(l/10)

    a_s = sum(np.array(a[:l]) == np.array(answers))
    b_s = sum(np.array(b[:l]) == np.array(answers))
    c_s = sum(np.array(c[:l]) == np.array(answers))
    scores = [a_s, b_s, c_s]
    s_l = np.where(scores == max(scores))
    s_l = list(s_l[0]+1)
    return s_l

In [9]:
solution([1,3,2,4,2])

[1, 2, 3]

### 체육복
https://programmers.co.kr/learn/courses/30/lessons/42862

In [10]:
def solution(n, lost, reserve):
    lost2 = list(set(lost) - set(reserve))
    reserve2 = list(set(reserve) - set(lost))
    L_n = len(lost2)

    for l in lost2:
        try: i = reserve2.index(l-1)
        except:
            try:
                i = reserve2.index(l+1)
            except: continue
        
        reserve2.pop(i)
        L_n -= 1

    return n - L_n

In [11]:
n = 5
lost = [2, 4]
reserve = [1, 3, 5]
solution(n, lost, reserve)

5

In [12]:
n = 3
lost = [1,2]
reserve = [2,3]
solution(n, lost, reserve)

2

In [13]:
n=24
lost=[12, 13, 16, 17, 19, 20, 21, 22]
reserve=[1, 22, 16, 18, 9, 10]
solution(n, lost, reserve)

19

### 가운데 글자 가져오기
https://programmers.co.kr/learn/courses/30/lessons/12903

In [14]:
def solution(s):
    return s[(len(s)-1)//2:len(s)//2+1]

In [15]:
s = 'qweh'
solution(s)

'we'

In [16]:
s = 'qwerf'
solution(s)

'e'

### 2016년
https://programmers.co.kr/learn/courses/30/lessons/12901

In [17]:
def solution(a, b):
    w_day = ['FRI','SAT','SUN','MON','TUE','WED','THU']
    m_day = [0, 3, 4, 0, 2, 5, 0, 3, 6, 1, 4, 6]
    w_day[(b + m_day[a-1]) % 7 - 1]
    return

### 같은 숫자는 싫어
https://programmers.co.kr/learn/courses/30/lessons/12906

In [18]:
def solution(arr):
    buffer = arr[0]
    answer = [buffer]
    for i in arr:
        if i != buffer:
            buffer = i
            answer.append(buffer)
    return answer

In [19]:
arr = [1,1,3,3,0,1,1]        
solution(arr)

[1, 3, 0, 1]

### 나누어 떨어지는 숫자 배열
https://programmers.co.kr/learn/courses/30/lessons/12910

In [20]:
def solution(arr, divisor):
    answer = sorted([n for n in arr if n%divisor == 0]) or [-1]
    return answer

In [21]:
arr = [5, 9, 7, 10]
divisor = 10
solution(arr, divisor)

[10]

### 두 정수 사이의 합
https://programmers.co.kr/learn/courses/30/lessons/12912

In [22]:
def solution(a, b):return sum(range(min(a, b), max(a, b)+1))

In [23]:
a = 3
b = 5
solution(a, b)

12

### 문자열 내 마음대로 정렬하기
https://programmers.co.kr/learn/courses/30/lessons/12915

In [24]:
def solution(strings, n):
    strings.sort()
    re_str = sorted([[strings[i][n], i] for i in range(len(strings))])
    return [strings[s[1]] for s in re_str]

In [25]:
strings = ['sun', 'bed', 'car']
n = 1

solution(strings, n)

['car', 'bed', 'sun']

In [26]:
strings = ['bbce', 'abce', 'abcd', 'cdx']
n = 2

solution(strings, n)

['abcd', 'abce', 'bbce', 'cdx']

### 문자열 내 p와 y의 개수
https://programmers.co.kr/learn/courses/30/lessons/12916

In [27]:
def solution(s):
    s = s.lower()
    p_n, y_n = s.count('p'), s.count('y')
    return p_n == y_n

In [28]:
s = 'pPoooyY'
solution(s)

True

### 문자열 내림차순으로 배치하기
https://programmers.co.kr/learn/courses/30/lessons/12915

In [29]:
def solution(s):return ''.join(sorted(s)[::-1])

In [30]:
s = 'Zbcdefg'
solution(s)

'gfedcbZ'

### 문자열 다루기 기본
https://programmers.co.kr/learn/courses/30/lessons/12918

In [31]:
def solution(s):
    L = len(s)
    if L == 4:
        return sum([True if i >= ord('0') and i <= ord('9') else False for i in list(map(ord, s))]) == 4
    elif L == 6:
        return sum([True if i >= ord('0') and i <= ord('9') else False for i in list(map(ord, s))]) == 6
    else: return False

In [32]:
s = '123064'
solution(s)

True

### 서울에서 김서방 찾기
https://programmers.co.kr/learn/courses/30/lessons/12919

In [33]:
def solution(seoul):
    loc = seoul.index('Kim')
    return "김서방은 %d에 있다"%loc

In [34]:
seoul = ['Jane', 'Kim']
solution(seoul)

'김서방은 1에 있다'

### 소수 찾기
https://programmers.co.kr/learn/courses/30/lessons/12921

In [35]:
def solution1(n):
    ar_l = [2]
    if n < 3:
        ar_l = [2]
    elif n < 5:
        ar_l = [2, 3]
    elif n < 9:
        ar_l = [2, 3, 5]
    
    for i in range(3, int((n)**(1/2)+1), 2):
        f = 0
        for j in range(3, i, 2):
            if i%j == 0:
                f = 1
        if f == 0: ar_l.append(i)
    c = len(ar_l)
    for i in range(ar_l[-1]+2, n+1, 2):
        f = 0
        for j in ar_l:
            if i%j == 0:
                f = 1
        if f == 0:
            c+=1
    return c

In [36]:
import time

In [37]:
s = time.time()
n = 100000
print(solution1(n))
print(time.time() - s)

9592
0.10369420051574707

In [38]:
s = time.time()
n = 1000000
print(solution1(n))
print(time.time() - s)

78498
2.895226001739502

In [39]:
def solution(n):
    
    ar_l = []
    
    for i in range(3, int((n)**(.5)+1), 2):
        f = 0
        for j in range(3, i, 2):
            if i%j == 0: f = 1
        if f == 0: ar_l.append(i)

    prime_set = set(range(3, n+1, 2))
    for i in ar_l: prime_set -= set(range(i*2, n+1, i))

    return len([2] + list(prime_set))

In [40]:
s = time.time()
n = 100000
print(solution(n))
print(time.time() - s)

9592
0.014960527420043945

In [41]:
s = time.time()
n = 1000000
print(solution(n))
print(time.time() - s)

78498
0.17151355743408203

In [42]:
def solution(n):
    num=set(range(2,n+1))

    for i in range(2,n+1):
        if i in num:
            num-=set(range(2*i,n+1,i))
    return len(num)

In [43]:
s = time.time()
n = 100000
print(solution(n))
print(time.time() - s)

9592
0.032883405685424805

In [44]:
s = time.time()
n = 1000000
print(solution(n))
print(time.time() - s)

78498
0.34105825424194336

### 수박수박수박수?
https://programmers.co.kr/learn/courses/30/lessons/12922

In [45]:
def solution(n): return ('수박' * int((n+1)/2))[:n]

In [46]:
n = 11
solution(n)

'수박수박수박수박수박수'

### 문자열 정수로 바꾸기
https://programmers.co.kr/learn/courses/30/lessons/12925

In [47]:
def solution(s):return int(s)

In [48]:
s = '-1234'
solution(s)

-1234

### 시저 암호
https://programmers.co.kr/learn/courses/30/lessons/12926

In [49]:
def solution(s, n):
    encryption_key = n
    plain = s
    chiper = ''
    encryption_key = int(encryption_key)%26
    for i in plain:
        if i == ' ':
            chiper += ' '
            continue
        m = ord(i) + int(encryption_key)
        if m > 122 and ord(i) <= 122:
            m -= 26
        elif m > 90 and ord(i) <= 90:
            m -= 26
        chiper += chr(m)
    return chiper

In [50]:
s = 'a B z'
n = 4
solution(s, n)

'e F d'

### 약수의 합
https://programmers.co.kr/learn/courses/30/lessons/12928

In [51]:
def solution(n):
    if n == 1:
        return 1
    n_list = []
    for i in range(1, int(n/2)+1):
        if n%i == 0:
            n_list.extend([i , n//i])
    return sum(set(n_list))

In [52]:
n = 12
solution(n)

28

### 이상한 문자 만들기
https://programmers.co.kr/learn/courses/30/lessons/12930

In [53]:
def trns_str(s):
    answer = ""
    for i in range(len(s)):
        if s[i] == " ":
            answer += " "
        elif i%2 == 0:
            answer += s[i].upper()
        else:
            answer += s[i].lower()

    return answer

def solution(s):
    a_list = []
    s_list = s.split(" ")
    for chr in s_list:
        a_list.append(trns_str(chr))
    return " ".join(a_list)

In [54]:
s = "try hello world"
solution(s)

'TrY HeLlO WoRlD'

### 자릿수 더하기
https://programmers.co.kr/learn/courses/30/lessons/12931

In [55]:
def solution(n):
    s = repr(n)
    return sum([int(c) for c in s])

In [56]:
n = 987
solution(n)

24

### 자연수 뒤집어 배열로 만들기
https://programmers.co.kr/learn/courses/30/lessons/12932

In [57]:
def solution(n):return [int(i) for i in repr(n)][::-1]

In [58]:
n = 20345
solution(n)

[5, 4, 3, 0, 2]

### 정수 내림차순으로 배치하기
https://programmers.co.kr/learn/courses/30/lessons/12933

In [59]:
def solution(n):return int(''.join(sorted(repr(n))[::-1]))

In [60]:
n = 118372
solution(n)

873211

### 정수 제곱근 판별
https://programmers.co.kr/learn/courses/30/lessons/12934

In [61]:
def solution(n):return (n**.5 == int(n**.5)) * (n**.5 + 1)**2 or -1

In [62]:
n = 121
solution(n)

144.0

### 제일 작은 수 제거하기
https://programmers.co.kr/learn/courses/30/lessons/12935

In [63]:
def solution(arr):
    arr.remove(min(arr)) 
    return arr or [-1]

In [64]:
arr = [4, 3, 2, 1, 5]
solution(arr)

[4, 3, 2, 5]

### 짝수와 홀수
https://programmers.co.kr/learn/courses/30/lessons/12937

In [65]:
def solution(num):return "Odd" * (num%2!=0) + "Even" * (num%2==0)

In [66]:
num = 4736182
solution(num)

'Even'

In [67]:
def solution(num):return ["Even", "Odd"][num&1]

### 평균 구하기
https://programmers.co.kr/learn/courses/30/lessons/12944

In [68]:
def solution(arr):return sum(arr)/len(arr)

In [69]:
arr = [1,2,3,4]
solution(arr)

2.5

### 핸드폰 번호 가리기
https://programmers.co.kr/learn/courses/30/lessons/12948

In [70]:
def solution(phone_number):return '*'*len(phone_number[:-4]) + phone_number[-4:]

In [71]:
phone_number = '027778888'
solution(phone_number)

'*****8888'

### x만큼 간격이 있는 n개의 숫자
https://programmers.co.kr/learn/courses/30/lessons/12954

In [72]:
def solution(x, n):
    f = 1
    if x < 0:
        x = abs(x)
        f = -1
    elif x == 0:
        return [0 for _ in range(n)]
    return [i*f for i in range(x, x*n+1, x)]

In [73]:
x = 0
n = 5
solution(x, n)

[0, 0, 0, 0, 0]

### 최대공약수와 최소공배수
https://programmers.co.kr/learn/courses/30/lessons/12940

In [74]:
def m_sol(m, n):
    for i in range(1, m):
        if (n*i)%m == 0:
            return n*i
    return n*m

def n_sol(m, n):
    for i in range(n+1, 1, -1):
        if (n%i == 0 and m %i == 0):
            return i
    return 1

def n_sol2(a, b):
    while b != 0:
        r = a % b
        a = b
        b = r
    return a
        
def solution(m, n):
    m, n = max(n, m), min(n, m)
    return [n_sol(m, n), m_sol(m, n)]

In [75]:
n = 12
m = 10
solution(m, n)

[2, 60]

### 행렬의 덧셈
https://programmers.co.kr/learn/courses/30/lessons/12950

In [76]:
import numpy as np
def solution(arr1, arr2):return list(map(list, np.array(arr1)+np.array(arr2)))

In [77]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
solution(arr1, arr2)

[[4, 6], [7, 9]]

### 콜라츠 추측
https://programmers.co.kr/learn/courses/30/lessons/12943

In [78]:
def solution(num):
    for i in range(500):
        if num - 1:
            num = [num/2, num*3+1][int(num)&1]
        else:
            return i
    return -1

In [79]:
num = 626331
solution(num)

-1

### 하샤드 수
https://programmers.co.kr/learn/courses/30/lessons/12947

In [80]:
def solution(x):return x % sum(map(int, repr(x))) == 0

In [81]:
x = 11
solution(x)

False

### 직사각형 별찍기
https://programmers.co.kr/learn/courses/30/lessons/12969

In [83]:
a, b = map(int, input().strip().split(' '))
for _ in range(b):print("*"*3)

*

ValueError: invalid literal for int() with base 10: '*'

### 예산
https://programmers.co.kr/learn/courses/30/lessons/12982

In [84]:
def solution(d, budget):
    l = len(d)
    d.sort()
    
    for i in range(l):
        budget -= d[i]
        if budget < 0:
            return i
    return l

In [85]:
d = [1,3,2,5,4]
budget = 9
solution(d, budget)

3

### 실패율
https://programmers.co.kr/learn/courses/30/lessons/42889

In [91]:
def solution(N, stages):
    
    d, L = {}, len(stages)
    
    for i in range(1, N+1):
        c = stages.count(i)
        if c == 0: d[i] = 1
        else: d[i] = 1-c/L
        L-=c
    return sorted(d, key=lambda k : d[k])

In [92]:
N = 5
stages = [2, 1, 2, 6, 2, 4, 3, 3]

solution(N, stages)

[3, 4, 2, 1, 5]

In [93]:
N = 4
stages = [4, 4, 4, 4, 4]

solution(N, stages)

[4, 1, 2, 3]

### 비밀지도
https://programmers.co.kr/learn/courses/30/lessons/17681

In [94]:
def solution(n, arr1, arr2): return [''.join(['#' if int(x) | int(y) else ' ' for x, y in zip(bin(i)[2:].rjust(n, '0'), bin(j)[2:].rjust(n, '0'))]) for i, j in zip(arr1, arr2)]

In [95]:
n = 5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

solution(n, arr1, arr2)

['#####', '# # #', '### #', '#  ##', '#####']

### 다트 게임
https://programmers.co.kr/learn/courses/30/lessons/17682

In [96]:
def solution(dart):
    
    score = []
    num = ''
    for i in range(len(dart)):
        
        s = dart[i]
        if s == 'S':
            score.append(int(num))
            num = ''
        elif s == 'D':
            score.append(int(num)**2)
            num = ''
        elif s == 'T':
            score.append(int(num)**3)
            num = ''
            
        elif s == '*':
            score[-1] *= 2
            if len(score) > 1:
                score[-2] *= 2
                
        elif s == '#':
            score[-1] *= -1
            
        else: num += s
            
    return sum(score)

In [97]:
def solution(dart):
    
    score = []
    num = ''
    for i in range(len(dart)):
        
        s = dart[i]
        p = ' SDT'
        if s in p:
            score.append(int(num)**p.find(s))
            num = ''
            
        elif s == '*':
            score[-1] *= 2
            if len(score) > 1:
                score[-2] *= 2
                
        elif s == '#':
            score[-1] *= -1
            
        else: num += s
            
    return sum(score)

In [98]:
d = ['1S2D*3T', '1D2S#10S', '1D2S0T', '1S*2T*3S', '1D#2S*3S', '1T2D3D#', '1D2S3T*']

for dartResert in d:
    print(solution(dartResert))

37
9
3
23
5
-4
59

### 크레인 인형 뽑기 게임
https://programmers.co.kr/learn/courses/30/lessons/64061

In [1]:
import numpy as np

def solution(board, moves):
    
    Q, c = [], 0
    B = np.array(board).T

    for m in moves:
        for i in range(len(B[m-1])):
            if B[m-1, i] != 0:
                if Q and Q[-1] == B[m-1, i]:
                    Q.pop()
                    c+=2
                else:
                    Q.append(B[m-1, i])
                B[m-1, i] = 0
                break
    return c

In [2]:
board = [[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]]
moves = [1,5,3,5,1,2,1,4]
solution(board, moves)

4

### 키패드 누르기
https://programmers.co.kr/learn/courses/30/lessons/67256

In [1]:
def solution(numbers, hand):    
    result = ''
    N = [[2, 5, 8, 0], [1, 4, 7, '*'], [3, 6, 9, '#']]
    L_h, R_h = [3, '*'], [3, '#']
    for n in numbers:
        if n in N[1]:
            L_h = [N[1].index(n), n]
            h = 'L'
        elif n in N[2]:
            R_h = [N[2].index(n), n]
            h = 'R'
        else:
            m = N[0].index(n)
            L, R = abs(L_h[0] - m), abs(R_h[0] - m)
            L += L_h[1] in N[1]
            R += R_h[1] in N[2]
            if L == R: h = hand[0].upper()
            else: h = 'LR'[L>R]            
            if h=='L': L_h = [m, n]
            else: R_h = [m, n]
        result += h
    return result

In [2]:
numbers = [1, 3, 4, 5, 8, 2, 1, 4, 5, 9, 5]
hand = "right"
solution(numbers, hand)

'LRLLLRLLRRL'